<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">

	<bean id="activitiDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/activiti" />
		<property name="username" value="activiti" />
		<property name="password" value="activiti" />
	</bean>
	
	<bean id="epmDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/epm" />
		<property name="username" value="epm" />
		<property name="password" value="epm" />
	</bean>
	
	<bean id="jackrabbitDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/jackrabbit" />
		<property name="username" value="jackrabbit" />
		<property name="password" value="jackrabbit" />
	</bean>
	
	<bean id="jbpmDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/jbpm" />
		<property name="username" value="jbpm" />
		<property name="password" value="jbpm" />
	</bean>
	
	<!--
	<bean id="jackrabbitDataSourceJndi" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jndi.connectionFactory}" />		
		<property name="jndiTemplate" ref="jndiTemplate" />
	</bean>
	-->
	
</beans>
