<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="ContentRepository" class="br.net.woodstock.epm.document.impl.FileSystemRepository">
		<constructor-arg name="path" value="/home/lourival/tmp/fsrepo" />
	</bean>
	
	<bean id="messageBundle" class="br.net.woodstock.rockframework.core.util.MessageBundle">
		<constructor-arg value="messages" />
    </bean>

</beans>